Repository wry-red/site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,cjs,mjs,jsx,ts,tsx,md,mdx,json,astro}": ["prettier --write"],
  "*.{js,cjs,mjs,jsx,ts,tsx,astro}": ["eslint --fix"]
}

:technologist: Add execute permission on git hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

:memo: Fix templating instructions in README.md
  README.md
Due: prettier --write

:memo: Update project scripts
  README.md
Due: prettier --write

Feat:add album feature to blog. Warning:style problem need to be fixed, frontmatter definition need to be documented
  package.json
  src/components/Header.astro
  src/components/albums/Description.astro
  src/components/albums/Gallery.astro
  src/components/albums/Video.astro
  src/content/album/Goldcrest.md
  src/content/config.ts
  src/layouts/AlbumDetails.astro
  src/pages/about.astro
  src/pages/albums/[slug]/index.astro
  src/pages/albums/index.astro
  src/pages/posts/[slug]/index.astro
  src/pages/posts/index.astro
  src/utils/getPageNumbers.ts
  src/utils/getPostsByTag.ts
Due: prettier --write, eslint --fix

Style: adjust page style of album
  src/components/albums/Description.astro
  src/components/albums/Video.astro
  src/content/album/Goldcrest.md
  src/content/config.ts
  src/layouts/AlbumDetails.astro
Due: prettier --write, eslint --fix

perf(css): remove cjk and sans/serif fonts and use async css hacks
  src/layouts/Layout.astro
  tailwind.config.ts
Due: prettier --write, eslint --fix

docs: add psi.svg to README
  README.md
  psi.svg
Due: prettier --write

Feat:album feature is basically finished
  package.json
  pnpm-lock.yaml
  src/components/albums/Description.astro
  src/components/albums/SystemTree.astro
  src/components/albums/Video.astro
  src/content/album/SomaliOstrich.md
  src/content/config.ts
  src/layouts/AlbumDetails.astro
  src/layouts/Albums.astro
  src/pages/albums/avianSystemTree.json
  src/pages/albums/index.astro
Due: prettier --write, eslint --fix

Fix:navigation error
  src/layouts/AlbumDetails.astro
Due: prettier --write, eslint --fix

feat: partly merge album feature into new branch checkouted from main
  src/components/albums/Gallery.astro
  src/components/albums/SystemTree.astro
  src/content/config.ts
  src/layouts/AlbumDetails.astro
  src/layouts/Albums.astro
  src/pages/albums/avianSystemTree.json
  src/pages/albums/index.astro
Due: prettier --write, eslint --fix

feat: merge: merge album feature into new main branch
  src/components/Header.astro
Due: prettier --write, eslint --fix

feat: merge: merge album feature code into new main branch
  src/components/albums/Gallery.astro
Due: prettier --write, eslint --fix

Create .pages.yml (via Pages CMS)
  .pages.yml
Due: none
